*{
    margin: 1rem;
    padding: 0.1rem;
}

body{
    display: flex;
    height: 100vh;
    background-color: black;
    
}
a:link{
    color: red;
    font-style: oblique;
}
a:visited {color: #060235}  
a:hover {color: #10d070}  
a:active {color: #C0F0FC}  

.neon-heading{
    color: aqua;
    text-align: center;
}
.container{
    background-color: antiquewhite;
    border-radius: 0.1rem 2rem;
    display: grid;
    grid-template-columns: 60% 30%;
    grid-template-rows: 10% 80%;
    gap: 0.9rem;
}
.header{
    grid-column: span 2;
}
.left{
    grid-column: span 1;
    padding: 20vh 3vw;
}
.left > h1{
    text-align: center;
    
}
.right{
    grid-column: span 1;
    background-color: bisque;
}
.poster{
    height: 17vh;
    width: 90%;
}
ul{
    list-style: none;
    padding: 0;
}
li{
    margin: 0 0;
}
#user-email{
    height: 5vh;
    width: 100%;
    margin-bottom: 12px;
    background-color: inherit;
    border: 1px solid pink;
}
button{
    font-size: large;
    font-weight: bolder;
    width: 100%;
    height: 5vh;
    background-color: rgb(135, 135, 228);
    border: 1px blue;
}
@media (max-width:840px){
    body{
        flex-direction: column;
        height: 100%;
    }
    .container{
        background-color: antiquewhite;
        border-radius: 0.1rem 2rem;
        display: grid;
        grid-template-rows: 10% 30% 30%;
        grid-template-columns: 80vw;
        gap: 0.1rem;
    }
    .header{
        grid-column: span 1;
        padding: 0;
        margin-bottom: 0;
    }
    .left{
        grid-column: span 1;
        padding: 0;
    }
    .right{
        grid-column: span 1;
    }
}